/* azzeramentto impostazioni di base */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font: 1rem Helvetica;
  height: 100vh;
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem auto 5rem;
  height: 100%;
}
.header {
  grid-area: header;
  background-color: #ff0000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
}
.brand a {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bolder;
  text-decoration: none;
}
.header-links a {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a:hover {
  color: #0400ff;
}
.main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer {
  grid-area: footer;
  background-color: #ff0000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* dettagli */
@media (max-width: 992px) {
}
@media (min-width: 993px) {
}
.boxprofilo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
  width: 13rem;
  height: auto;
  /* max-height: 22rem; */
  background-color: #eeeeee;
  border: solid #999999 2px;
  border-radius: 0.5rem;
  margin: 0.5rem;
}
.imageprofilo {
  /* flex: 2 1 60rem; */
  background-color: #d0ff00;
  width: 10rem;
  height: 10rem;

  border-radius: 2rem;
}
.imageprofilo img {
  max-width: 10rem;
  max-height: 10rem;
  width: 100%;
  border: 0.3rem white solid;
}

.infoprofilo {
  font-size: 0.9rem;
  width: 100%;
  padding: 0.3rem;

  /* flex: 1 1 10rem; */
  background-color: #ffffff;
}
.nomeprofilo {
  font-weight: bolder;
  text-align: right;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  border-radius: 0.5rem;
  padding: 0.1rem;
  font-size: 1rem;
}
.btn {
  font-size: 1rem;
  width: 80%;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.btndisponibilita {
  margin-top: 1rem;
  background-color: rgb(0, 255, 21);
}
.btndisponibilita:hover {
  background-color: rgb(215, 255, 219);
}
.btndiscipline {
  background-color: rgb(204, 0, 255);
}
.btndiscipline:hover {
  background-color: rgb(238, 168, 255);
}
.btnrosso {
  margin-top: 1.5rem;
  background-color: rgb(255, 35, 35);
}
.btnrosso:hover {
  background-color: rgb(255, 172, 172);
}
.details-action {
  flex: 2 1 20rem;
}
/* miei */
.boxcentrale {
  height: 100%;
  width: 100%;
  background: lightcoral;
  margin: 2%;
}
.headera {
  top: 0px;
  width: 100%;
  height: 5rem;
  background-color: lightcyan;
}
.footera {
  bottom: 0px;
  background-color: black;
  width: 100%;
  height: 5rem;
}
.opaco {
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 194, 255);
  width: 13rem;
  opacity: 95%;
  font-weight: bold;
  font-size: 1rem;
  border: solid 1px black;
  padding: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 20;
}
.bgverde {
  background-color: yellowgreen;
}
.bgrosso {
  background-color: lightcoral;
}
